table_set_default check_state set_state NoAction
table_add check_state set_state 00:aa:bb:00:00:01 => 0xF0F0F0
register_write link_ids 0 100
register_write link_ids 1 101
register_write link_ids 2 102
register_write link_ids 3 103
register_write link_ids 4 104
register_write link_ids 5 105
register_write link_ids 6 106
register_write link_ids 7 107

register_write link_bitstrings 0 0x001010
register_write link_bitstrings 1 0x101010
register_write link_bitstrings 2 0x001011
register_write link_bitstrings 3 0x001010
